



@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400);

html,
body {
  height: 100%;
}

body {
    color: white;
  background: radial-gradient(#222922, #000500);
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  overflow: hidden;
  padding: 30px 0 0 30px;
  text-align: center;
}

.word {
  bottom: 0;
  color: #fff;
  font-size: 2.5em;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  margin: auto;
  right: 0;
  position: absolute;
  text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);
  top: 0
}

.word span {
  display: inline-block;
  transform: translateX(100%) scale(0.9);
  transition: transform 500ms;
}

.word .done {
  color: #6f6;
  transform: translateX(0) scale(1);
}

.overlay {
  background-size: 1000px 2px;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    align-items: center;
    overflow-y: auto;

}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 860px;
    width: 100%;
}


.contend_mainn {
    width: auto;
    height: auto;

}

.contend_mainn .form {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: auto;
    width: 200px;
}

.contend_mainn .form input {
    padding: 10px;
    border-radius: 7px;
    border: none;
    margin-top: 10px;
}

.contend_mainn .form select {
    align-self: start;
    margin-top: 10px;
    padding: 5px;
}

.contend_mainn .form button {
    margin-top: 10px;
    background-color: #1D2671;
    color: white;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: white;
    background-color: rgb(6, 169, 6);
}

.contend_mainn .form button:hover {
    background-color: #224e8b;
    color: white;
    font-weight: bold;
}

.funcion_obj {
    display: flex;
    justify-content: center;
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.f_objt {
    /* p */
    display: flex;
    flex-wrap: wrap;
    vertical-align: baseline;
    margin: 0;
    height: auto;
    justify-content: center;
    font-weight: bold;

}

.restriccion_div {
    align-self: flex-start;
}



.contend_box div {
    margin-top: 2%;

}

.contend_box .select select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}


.contend_box div input {
    height: max-content;
}


.resultado {
    margin-left: 30%;
    width: 30%;
    border: 1px solid black;
    height: 20vh;
    background-color: white;
}

#calcular {
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    background-color: rgb(6, 169, 6);

}
#calcular:hover{
    background-color: #C33764;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.titulo_fun {
    color: white;
}
.restriccion_titulo{
    color: white;
}

.down {
    justify-self: flex-end;
    width: 100%;
    height: 900px;
}



.container th h1 {
    font-weight: bold;
    font-size: 1em;
text-align: left;
color: #185875;
}

.container td {
    font-weight: normal;
    font-size: 1em;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
     -moz-box-shadow: 0 2px 2px -2px #0E1119;
          box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
display: table;
padding: 0 0 8em 0;
}

.container td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #2C3446;
}

.container th {
    background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
 background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
     -moz-box-shadow: 0 6px 6px -6px #0E1119;
          box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
background-color: #FFF842;
color: #403E10;
font-weight: bold;

box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
transform: translate3d(6px, -6px, 0);

transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

